services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5433:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana_datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - ./config/grafana_dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
      - ./dashboards:/opt/grafana/dashboards